.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(91, 50, 185);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signup-link {
    text-align: center;
  }
  
  .signup-link a {
    color: #6d1e8d;
  }
  
  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
  
    input[type="email"],
    input[type="password"] {
      padding: 8px;
    }
  
    button[type="submit"] {
      padding: 8px;
    }
  }
  